In [34]:
import pandas as pd
from sklearn.utils import shuffle

In [35]:
# store csv into panda
df = pd.read_csv("lyrics.csv")

In [36]:
# check shape of panda
print("# of columns: {}\n".format(df.shape[0]))
print("# of columns: {}\n".format(df.shape[1]))
# check how data is organized
df.head()

# of columns: 362237

# of columns: 6

,index,song,year,artist,genre,lyrics
0,0,ego-remix,2009,beyonce-knowles,Pop,"Oh baby, how you doing?\nYou know I'm gonna cu..."
1,1,then-tell-me,2009,beyonce-knowles,Pop,"playin' everything so easy,\nit's like you see..."
2,2,honesty,2009,beyonce-knowles,Pop,If you search\nFor tenderness\nIt isn't hard t...
3,3,you-are-my-rock,2009,beyonce-knowles,Pop,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote..."
4,4,black-culture,2009,beyonce-knowles,Pop,"Party the people, the people the party it's po..."

In [37]:
# drop any row with missing data
df = df.dropna()
# drop column 'index'
df = df.drop('index',1)
# check shape of data frame
print("# of columns: {}\n".format(df.shape[0]))
print("# of columns: {}\n".format(df.shape[1]))
# check how data is organized
df.head()

# of columns: 266556

# of columns: 5

,song,year,artist,genre,lyrics
0,ego-remix,2009,beyonce-knowles,Pop,"Oh baby, how you doing?\nYou know I'm gonna cu..."
1,then-tell-me,2009,beyonce-knowles,Pop,"playin' everything so easy,\nit's like you see..."
2,honesty,2009,beyonce-knowles,Pop,If you search\nFor tenderness\nIt isn't hard t...
3,you-are-my-rock,2009,beyonce-knowles,Pop,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote..."
4,black-culture,2009,beyonce-knowles,Pop,"Party the people, the people the party it's po..."

In [38]:
# check the types of unique songs
songs = df['song'].unique()
# sort in descending order
songs.sort()
# display how many types of unique songs
print("# of unique songs: {}\n".format(len(songs)))
# print sorted array of unique songs
print(songs)

# of unique songs: 187186

['0-0' '0-0-0' '0-0-where-evil-dwells' ..., 'zzz-top' 'zzzonked' 'zzzzz']

In [39]:
# check the types of unique years
years = df['year'].unique()
# sort in descending order
years.sort()
# display how many types of unique years
print("# of unique years: {}\n".format(len(years)))
# print sorted array of unique years
print(years)

# of unique years: 51

[  67  112  702 1968 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980
 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995
 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010
 2011 2012 2013 2014 2015 2016]

In [40]:
# delete years < 1900s
df = df[(df['year'] > 1900)]
# check the types of unique years left
years = df['year'].unique()
# sort in descending order
years.sort()
# display how many types of unique years
print("# of unique years: {}\n".format(len(years)))
# print sorted array of unique years
print(years)

# of unique years: 48

[1968 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015 2016]

In [41]:
# check the types of unique genre
genres = df['genre'].unique()
# sort in descending order
genres.sort()
# display how many types of unique genres
print("# of unique genre: {}\n".format(len(genres)))
# print sorted array of unique genres
print(genres)

# of unique genre: 12

['Country' 'Electronic' 'Folk' 'Hip-Hop' 'Indie' 'Jazz' 'Metal'
 'Not Available' 'Other' 'Pop' 'R&B' 'Rock']

In [42]:
# delete genres 'Not Available' and 'Other'
df = df[(df['genre'] != 'Not Available') & (df['genre'] != 'Other')]
# check how many types of unique genres left
genres = df['genre'].unique()
# sort in descending order
genres.sort()
# display how many types of unique genres
print("# of unique genre: {}\n".format(len(genres)))
# print sorted array of unique genres
print(genres)

# of unique genre: 10

['Country' 'Electronic' 'Folk' 'Hip-Hop' 'Indie' 'Jazz' 'Metal' 'Pop' 'R&B'
 'Rock']

In [43]:
# check the types of unique artists
artists = df['artist'].unique()
# sort in descending order
artists.sort()
# display how many types of unique artists
print("# of unique artists: {}\n".format(len(artists)))
# print sorted array of unique artists
print(artists)

# of unique artists: 10104

['009-sound-system' '047' '1-800-zombie' ..., 'the-grates'
 'the-graveyard-boulevard' 'the-great-flood-catastrophe']

In [44]:
# check how data is organized
df.head()

,song,year,artist,genre,lyrics
0,ego-remix,2009,beyonce-knowles,Pop,"Oh baby, how you doing?\nYou know I'm gonna cu..."
1,then-tell-me,2009,beyonce-knowles,Pop,"playin' everything so easy,\nit's like you see..."
2,honesty,2009,beyonce-knowles,Pop,If you search\nFor tenderness\nIt isn't hard t...
3,you-are-my-rock,2009,beyonce-knowles,Pop,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote..."
4,black-culture,2009,beyonce-knowles,Pop,"Party the people, the people the party it's po..."

In [45]:
from sklearn.model_selection import train_test_split
# shuffle and split dataset into training dataset and testing dataset
train, test = train_test_split(df, test_size=0.2)

In [46]:
# check shape of train panda
print("# of columns: {}\n".format(train.shape[0]))
print("# of columns: {}\n".format(train.shape[1]))
# check how train data is organized
train.head()

# of columns: 189936

# of columns: 5

,song,year,artist,genre,lyrics
221611,puppy-love,2009,donny-marie-osmond,Pop,"And they called it puppy love\nOh, I guess the..."
168911,dirty-n-deep,2007,debbie-harry,Rock,Throw down your sweet sixteen\nLil Kim can do ...
97578,three-of-a-perfect-pair,2006,adrian-belew,Rock,She is susceptible\nHe is impossible\nThey hav...
8731,what-do-you-got,2007,50-cent,Hip-Hop,(Chorus) (Sampled Eminem)\nBig and some Pac an...
323110,the-new-sad,2006,barenaked-ladies,Rock,Everybody knows that happy is the new sad\nSo ...

In [47]:
# check shape of test panda
print("# of columns: {}\n".format(test.shape[0]))
print("# of columns: {}\n".format(test.shape[1]))
# check how test data is organized
test.head()

# of columns: 47484

# of columns: 5

,song,year,artist,genre,lyrics
108553,thanks-prayer,2007,en-vogue,Pop,"Father,\nYou've given us so many blessings\nSo..."
138326,rock-wit-cha,2011,bobby-v,Hip-Hop,"Wake up girl, I want some more\nEvery time I l..."
70166,the-grave,2006,don-mclean,Rock,The grave that they dug him had flowers\nGathe...
327546,alone-again,2007,doro-pesch,Rock,"Alone again, alone again\nI'm in the twilight ..."
178409,burning-heretics,2006,apoptygma-berzerk,Pop,"""The holy inquisition finds you guilty of here..."